<div class="containerSlider">
    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
    <input type="radio" name="slider" title="slide4" class="slider__nav"/>
    <div class="slider__inner">
        <div class="slider__contents">
        <div class="containerCards" >
        <div class="wrapper">
            <div class="card" style="background-color: rgb(60, 135, 160);">
                <h1 class="titleCard">
                <img class="cartoon" src="assets/characters/LogoSpongeBob.png" alt="">
                </h1>
            </div>
        </div>
    </div>
        <p class="slider__txt">Lives under the ocean in a stone house with two annoying neighbors</p>
        </div>
        <div class="slider__contents">
        <div class="containerCards">
        <div class="wrapper">
            <div class="card"  style="background-color: rgb(33, 29, 85);">
                <h1 class="titleCard">
                <img class="cartoon" src="assets/characters/LogoAdventureTime.png" alt="">
                </h1>
            </div>
        </div>
    </div>
        <p class="slider__txt">He has a brave friend that is in the friendzone</p>
        </div>
        <div class="slider__contents">
        <div class="containerCards">
        <div class="wrapper">
            <div class="card" style="background-color: rgb(74, 126, 74);">
                <h1 class="titleCard">
                <img class="cartoon" src="assets/characters/LogoTheLegendOfZelda.png" alt="">
                </h1>
            </div>
        </div>
    </div>
        <p class="slider__txt">He's name is not Zelda</p>
        </div>
        <div class="slider__contents">
        <div class="containerCards">
        <div class="wrapper">
            <div class="card">
                <h1 class="titleCard">
                <img class="cartoon" src="assets/characters/LogoLiloAndStich.png" alt=""
                style="width: 90%;">
                </h1>
            </div>
        </div>
    </div>
        <p class="slider__txt">It's an Alien that has treated like a dog</p>
        </div>
        <div class="slider__contents">
        <div class="containerCards">
        <div class="wrapper">
            <div class="card" style="background-color: rgb(33, 29, 85);">
                <h1 class="titleCard">
                <img class="cartoon" src="assets/characters/LogoAdventureTime.png" alt="">
                </h1>
            </div>
        </div>
    </div>
        <p class="slider__txt">She's a pink princess with male voice and arrogant</p>
        </div>
        <div class="slider__contents">
        <div class="containerCards">
        <div class="wrapper">
            <div class="card" style="background-color: rgb(3, 3, 3);">
                <h1 class="titleCard">
                <img class="cartoon" src="assets/characters/LogoMortalKombat.png" alt="">
                </h1>
            </div>
        </div>
    </div>
        <p class="slider__txt">He's the pullet and has a cold enemy</p>
        </div>
        <div class="slider__contents">
        <div class="containerCards">
        <div class="wrapper">
            <div class="card" style="background-color: rgb(18, 81, 117);">
                <h1 class="titleCard">
                <img class="cartoon" src="assets/characters/LogoPokemon.png" alt="">
                </h1>
            </div>
        </div>
    </div>
        <p class="slider__txt">It's a Pokemon blue, fat and lazy</p>
        </div>
        <div class="slider__contents">
        <div class="containerCards">
        <div class="wrapper">
            <div class="card" style="background-color: rgb(229, 245, 253);">
                <h1 class="titleCard">
                <img class="cartoon" src="assets/characters/LogoTheKingOfFighters.png" alt="">
                </h1>
            </div>
        </div>
    </div>
        <p class="slider__txt">He's the copy of Ken in The King of Fighters</p>
        </div>
    </div>
</div>